<section>
  <div class="container">
    <div class="row mb-10">
      <div class="col-12">
        <h3 class="h1 mb-4">Modal Component</h3>
        <!--modal open button -->
        <button
          id="modal-open-button"
          class="rounded bg-primary py-2 px-4 font-bold text-white hover:bg-primary/80"
        >
          Open Modal
        </button>
        <!-- modal container -->
        <div
          id="modal-container"
          class="fixed inset-0 z-50 hidden h-screen w-screen bg-theme-dark bg-opacity-75"
        ></div>
        <!-- modal -->
        <div
          id="modal"
          class="fixed top-1/2 left-1/2 z-50 hidden -translate-x-1/2 -translate-y-1/2 transform rounded bg-white p-6 shadow-lg"
        >
          <p class="mb-4">
            Radix-Tech is a professional web and app development service provider. We specialize in creating stunning websites, mobile apps, and full-stack applications that drive business growth. Our team of experienced developers and designers work closely with clients to deliver customized solutions that meet their unique needs and goals.
          </p>
          <button
            id="modal-close-button"
            class="rounded bg-primary py-2 px-4 font-bold text-white hover:bg-primary/75"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
